<app-menu></app-menu>
<body>
    <section id="hero">
        <h1>JUAN DAVID ARANGO CASTRILLÓN</h1>
        <img src="../../../assets/FotoJDA.JPG" alt="FOTO DOCUMENTO JUAN DAVID ARANGO" width="110" height="150">
        <p>Soy profesional en ingeniería mecánica, 
            estudiante de Maestría en Ingeniería Mecánica en la Universidad Nacional de Colombia.
            Poseo experiencia en análisis de datos para aplicación en Mantenimiento y 
            Gestión de activos, Construcción de modelos de clasificación y predicción para 
            el análisis de vibraciones. 
            <br><br> Poseo experiencia en el sector de Gas Natural y transporte de combustibles.
            <br><br>Me he desempeñado como Docente ocasional en la Universidad Nacional de Colombia Sede Medellín, para el departamento de Ingeniería Mecánica, También he participado como profesional asistente en la asignatura de Transferencia de Calor, y las asignaturas vinculadas al
            laboratorio de Máquinas y Sistemas Térmicos de la mencionada institución.
        </p>
    </section>

    <section id="interest">
        <h2><strong>ÁREAS DE INTERES:</strong></h2>
        
        <div class="interest-list">
            <div class="interest-detail">
                <img src="../../../assets/vibracion-salud.png" alt="vibraciones mecanicas">
                <h3>Vibraciones Mecánicas</h3>
            </div>

            <div class="interest-detail">
                <img src="../../../assets/data.jpg" alt="data-science">
                <h3>Data Science</h3>
            </div>

            <div class="interest-detail">
                <img src="../../../assets/FT.png" alt="PDS">
                <h3>Procesamiento Digital de Señales</h3>
            </div>
        </div>

    </section>

    <section id="contact">
        <h2><strong>INFORMACIÓN DE CONTACTO:</strong></h2>
        <ul class="myul">
            <li><strong>Email principal:</strong> judarangoca@unal.edu.co</li>
            <li><strong>Email secundario:</strong> judarangoca@gmail.com</li>
            <li><strong>Tel. Celular:</strong> +57 317 659 2514</li>
            <li><strong>Medellín - Colombia</strong></li>
            <li><strong>Repositorio: <a href="https://github.com/judarangoca/SP_FullStack_Portales_BC.git" target="_blank">Repository GitHub</a></strong></li>
        </ul>
    </section>

    <section id="formation">
        <h2><strong>FORMACIÓN:</strong></h2>
        <h3>Formación Académica:</h3>
         <ul class="myul">
            <li><strong>Magister en Ingeniería Mecánica.</strong> Universidad Nacional de Colombia - Año: 2023</li>
            <li><strong>Ingeniero Mecánico Grado Honor.</strong> Universidad Nacional de Colobia - Año: 2017</li>
            <li><strong>Bachiller Técnico en Mecánica Industrial.</strong> I.E. Tecnico Industrial Pascual Bravo - Año 2011</li>
        </ul>
        <h3>Cursos y Capacitaciones:</h3>
        <ul class="myul">
           <li><strong>Programa Especializado - Deep Learning.</strong> Tomado en COURSERA. Sept de 2019</li>
           <li><strong>Programa Especializado - TensorFlow in Practice</strong>Tomado en COURSERA. Enero de 2020</li>
        </ul>
       <h3>Idiomas:</h3>
        <ul class="myul">
           <li><strong>Inglés - B2</strong></li>
           <li><strong>Español - Nativo</strong></li>
       </ul>
    </section>
</body>

