<app-menu></app-menu>
<div class="container content-center" style="margin-left: 0; margin-right: 0%; width: 110%;">
    <div class="card" style="margin-left: 0; margin-right: 0%; width: 110%;">
        <div class="card-header">
            <h3 style="text-align: center;">CUSTOMERS LIST</h3>
        </div>

        <div class="card-body ml-0">
            <div style="overflow-x:scroll; overflow-y: scroll;">
                <table class="table table-striped table-bordered table-xm text-nowrap ml-0" cellspacing="0" >
                    <thead class="text-center" >
                        <tr style="font-size: 70%;">
                            <th>ACTIONS</th>
                            <th>ID</th>
                            <th>DOC. TYPE</th>
                            <th>DOC. NUM.</th>
                            <th>NAMES</th>
                            <th>SURNAMES</th>
                            <th>EMAIL</th>
                            <th>BIRTHDATE</th>
                            <th>PHONE-NUMBER</th>
                            <th>CREATION DATE</th>
                            <th>LAST MODIFICATION</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let cust of customers"  style="font-size: 70%;">
                            <td>
                                <div class="container">
                                    <button class="btn btn-danger" (click)="DeleteCustomer(cust)" style="font-size: 75%;">Delete</button>
                                    <button class="btn btn-secondary" (click)="GoToModifiyCustomer(cust)" style="font-size: 75%;">Edit</button>
                                    <button class="btn btn-primary" (click)="GoToManageAccounts(cust)" style="font-size: 75%;">Products</button>

                                </div>
                            </td>
                            <td>{{cust.customerId}}</td>
                            <td>{{cust.identificationType}}</td>
                            <td>{{cust.identificationNumber}}</td>
                            <td>{{cust.firstName}}</td>
                            <td>{{cust.lastName}}</td>
                            <td>{{cust.email}}</td>
                            <td>{{cust.birthDate |date:"dd/MM/yyyy"}}</td>
                            <td>{{cust.phoneNumber}}</td>
                            <td>{{cust.creationDate|date:"d/M/yyyy, H:mm:ss"}}</td>
                            <td>{{cust.modificationDate|date:"d/M/yyyy, H:mm:ss"}} -- {{cust.userModificator}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container" style="margin-left: 0cm;">
            <button (click)="NewCustomer()" class="btn btn-info" style="margin-left: 10px;">Register New Customer</button>
            <button (click)="ReturnHome()" class="btn btn-secondary" style="margin-left: 10px;">Return Home</button>
        </div>
        <br>

    </div>
</div>
<br>
