<app-menu></app-menu>

<div class="text-center" *ngIf="isLogged; else loggedOut">
    <div class="alert alert-success mt-3">
        <h4>Already Logged<br><a routerLink="/Home">Home</a></h4>
    </div>
</div>

<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4 style="text-align: center;">LOGIN</h4>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-group">
                    <label for="username">USER NAME</label>
                    <input type="text" name="username" id="username" placeholder="username" class="form-control" [(ngModel)]="username" required>
                    </div>
                    <br>
                    <div class="form-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" id="password" placeholder="password" class="form-control" [(ngModel)]="password" required>
                    </div>
                    <br>
                    <div class="form-group">
                    <button class="btn btn-primary btn-block" [disabled]="!f.valid">Login</button> 
                    </div>
                    <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Login fail</div>
                </form>

            </div>
        </div>
    </div>
</ng-template>