<br>
<div class="container">
    <!--CARD CON EL HISTORIAL DE TRANSACTIONS-->
    <div class="card" style="width: 100%;">

            <div class="card-header">
                <h3 style="text-align: center;">CUENTA: {{currentAccount.accountType}} -- {{currentAccount.accountNumber}}</h3>
                <h4 style="text-align: center;">SALDO: {{currentAccount.accountBalance | currency}}</h4>
                <h5 style="text-align: center;">ID CUENTA: {{currentAccountId}}</h5>
            </div>
            <div class="card-header">
                <h4 style="text-align: center;">HISTORIAL TRANSACCIONES</h4>
            </div>
        
        <div class="card-body">
            <table class="table talbe-hover">
                <thead>
                    <tr style="font-size: 70%; text-align: center;">
                        <th>ID TRANSACCION</th>
                        <th>FECHA</th>
                        <th>VALOR TRANSACCIÓN</th>
                        <th>TIPO DE TRANSACCIÓN</th>
                        <th>ID CUENTA ORIGEN</th>
                        <th>ID CUENTA DESTINO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transac of transactions"  style="font-size: 70%; text-align: center;">
                        <td>{{transac.transactionId}}</td>
                        <td>{{transac.transactionDate}}</td>
                        <td>{{transac.transactionValue}}</td>
                        <td>{{transac.typeOfTransaction}}</td>
                        <td>{{transac.originAccountId}}</td>
                        <td>{{transac.destinationAccountId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>
        <div class="container" style="margin-left: 0cm;">
            <button class="btn btn-primary" (click)="GenerateNewTransaction()" style="margin-left: 10px;">Nueva Transaccion</button>
            <button class="btn btn-secondary"  (click)="ReturnHome()" style="margin-left: 10px;">Home</button>
            <button class="btn btn-secondary" (click)="ReturnAccounts()" style="margin-left: 10px;">Regresar</button>
        </div>
        <br>
    </div>  
</div>   

<br>

<span *ngIf="cardForNewTransaction">
<div class="container">
    <!--CARD CON EL FORMULARIO NUEVA TRANSACCION-->
    <form class="newTransaction" [formGroup]="formNewTransaction">
        <div class="card">
            <div class="card-header">
                <h4 style="text-align: center">NUEVA TRANSACCIÓN</h4>
            </div>
            <div class="card-body">
                <div>
                <label for="">Tipo de Transacción</label>
                <br>
                <select formControlName="typeOfTransaction"  name="accountType" id="accountType" class="form-control">
                    <option value="Deposit">Deposito</option>
                    <option value="Withdraw">Retiro</option>
                    <option value="Transfer">Transferencia</option>
                </select>
                </div>
                <br>

                <div [ngSwitch]="formNewTransaction.value.typeOfTransaction">

                    <span *ngSwitchCase="'Deposit'" >
                        <label for="">ID Cuenta Destino</label>
                        <br>
                        <select formControlName="destinationAccountId" name="destinationAccountId" id="destinationAccountId" class="form-control">
                            <option [ngValue]=currentAccountId>ID:{{currentAccount.accountId}} -- Numero:{{currentAccount.accountNumber}}</option>
                        </select>
                        <br>
                    </span>

                    <span *ngSwitchCase="'Withdraw'">
                        <label for="">ID Cuenta Origen</label>
                        <select formControlName="originAccountId" name="originAccountId" id="originAccountId" class="form-control">
                            <option [ngValue]="currentAccountId">ID:{{currentAccount.accountId}} -- Numero:{{currentAccount.accountNumber}}</option>
                        </select>
                        <br>
                    </span>

                    <span *ngSwitchCase="'Transfer'">
                        <label for="">ID Cuenta Origen</label>
                        <select formControlName="originAccountId" name="originnAccountId" id="originAccountId" class="form-control">
                            <option [value]="currentAccountId">ID:{{currentAccountId}} -- Numero:{{currentAccount.accountNumber}}</option>
                        </select>
                        <br>
                        <label for="">ID Cuenta Destino</label>
                        <select formControlName="destinationAccountId" name="value" class="form-control">
                            <option *ngFor="let acc of accounts" value={{acc.accountId}}>ID:{{acc.accountId}} -- {{acc.accountType}} -- {{acc.accountNumber}}</option>
                        </select>
                        <br>
                    </span>
                    <span *ngSwitchCase="''">
                    </span>

                </div>

                <label for="">Monto</label>
                <input type="number" formControlName="transaccionValue" name="value" class="form-control">
                <br>

            </div>
            <div class="container">
            <button [disabled]="formNewTransaction.invalid" (click)="saveNewTransaction()" class="btn btn-primary" style="margin-top: 10px;">Guardar</button>
            <button class="btn btn-secondary" style="margin-top: 10px; margin-left: 10px;">Cancelar</button>
            </div>
        </div>
    </form>

    <p>{{formNewTransaction.value | json}}</p>
</div>




<!--
<span *ngIf="cardForNewTransaction">
<div class="container">
    <div class="card col-md-8">
        <div class="card-header">
            <h4 style="text-align: center;">NUEVA TRANSACCIÓN</h4>
        </div>
        <div class="card-body">
            <form action="" class="column">
                <div class="column">
                    <div class="form-group" style="margin-top: 5px;">
                        <label for="">Tipo de Transacción</label><br>
                        <select name="accountType" id="accountType" class="form-group" [(ngModel)]="newTransaction.typeOfTransaction" >
                            <option value="Deposit">Deposito</option>
                            <option value="Withdraw">Retiro</option>
                            <option value="Transfer">Transferencia</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label for="">Monto</label>
                        <input type="number" name="value" class="form-control" [(ngModel)]="newTransaction.transactionValue">
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label for="">ID Cuenta Origen</label>
                        <input type="number" disabled="true" name="value" class="form-control" [(ngModel)]="newTransaction.originAccountId">
                    </div>
                    <span *ngIf="newTransaction.typeOfTransaction=='Transfer'">
                    <div class="form-group" style="margin-top: 10px;">
                        <label for="">ID Cuenta Destino</label>
                        <input type="number" name="value" class="form-control" [(ngModel)]="newTransaction.destinationAccountId">
                    </div>
                    </span>
                </div>
                <button class="btn btn-primary" style="margin-top: 10px;">Guardar</button>
                <button class="btn btn-secondary" style="margin-top: 10px; margin-left: 10px;">Cancelar</button>
            </form>
        </div>
        
    </div>
</div>
</span>
-->

<br>
