<app-menu></app-menu>
<br>
<div class="container content-center" style="margin-left: 0; margin-right: 0%; width: 110%;">
    <!--CARD CON EL LISTADO DE CUENTAS-->
    <div class="card" style="width: 110%;">
        <div class="card-header">
            <h4 style="text-align: center;">CUSTOMER: {{currentCustomer.firstName.toString()|uppercase}} {{currentCustomer.lastName.toString() | uppercase}} &nbsp; ID: {{currentCustomer.customerId}}</h4>
        </div>
        <div class="card-header">
            <h4 style="text-align: center;">ACCOUNTS LIST</h4>
        </div>
        <div class="card-body">
            <div style="overflow-x:scroll; overflow-y: scroll;">
                <table class="table table-striped table-bordered table-xm text-nowrap ml-0" cellspacing="0">
                    <thead>
                        <tr style="font-size: 70%; text-align: center;">
                            <th>ACTIONS</th>
                            <th>ACCOUNT ID</th>
                            <th>ACCOUNT NUM.</th>
                            <th>BALANCE</th>
                            <th>CURRENT BALANCE</th>
                            <th>CREATION DATE</th>
                            <th>STATUS</th>
                            <th>TYPE</th>
                            <th>CUSTOMER ID</th>
                            <th>EXEMPT GMF</th>
                            <th>MODIFICATION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let acc of accounts" [ngStyle]="{'background-color': acc.exemptOfGmf?'rgba(219, 245, 179, 0.3)':'default'}" [ngClass]="{'text-success':acc.exemptOfGmf}" style="font-size: 70%; text-align: center;">
                            <td>
                                <div class="container">
                                    <button *nfIf="isAdmin" class="btn btn-danger" (click)="DeleteAccount(acc)" style="font-size: 75%;">Delete</button>
                                    <button class="btn btn-secondary" (click)="ShowEditAccountForm(acc)" style="font-size: 75%;">Edit</button>
                                    <button class="btn btn-primary" (click)="GoToTransactions(acc)" style="font-size: 75%;">Transactions</button>
                                </div>
                            </td>
                            <td>{{acc.accountId}}</td>
                            <td>{{acc.accountNumber}}</td>
                            <td>{{acc.accountBalance| currency}}</td>
                            <td>{{acc.accountCurrentBalance|currency}}</td>
                            <td>{{acc.accountCreationDate|date:"d/M/yyyy, H:mm"}}</td>
                            <td>{{acc.accountStatus}}</td>
                            <td>{{(acc.accountType=="Ah"?"Saving":"Current")}}</td>
                            <td>{{acc.customerId}}</td>
                            <td>{{acc.exemptOfGmf}}</td>
                            <td>{{acc.modificationUser}}: {{acc.modificationDate|date:"d/M/yyyy, H:mm"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container" style="margin-left: 0cm;">
            <button class="btn btn-secondary" (click)="ReturnToCustomersListing()" style="margin-left: 10px;">Customer List</button>
            <button class="btn btn-secondary" (click)="ReturnHome()" style="margin-left: 10px;">Home</button>
            <button class="btn btn-info" (click)="ShowNewAccountForm()" style="margin-left: 10px;">New Account</button>
        </div>
        <br>
    </div>        
</div>

<br>

<div class="container" style="width: 75.0%; margin: auto;">
    <span *ngIf="cardForEditAccount">
        <!--CARD CON EL FORMULARIO MODIFICACIÓN CUENTA-->
        <div class="container">
            <form action="">
                <div class="card">
                    <div class="card-header">
                        <h3 style="text-align: center;">MODIFY ACCOUNT: {{modifiedAccount.accountNumber}} ID: {{modifiedAccount.accountId}}</h3>
                    </div>
                    <div class="card-boddy" style="margin-left: 20px; margin-right: 20px;">
                        <div>
                            <br>
                            <label for="">Account Status &nbsp;</label>
                            <br>
                            <select name="accountStatus" id="accountStatus" class="form-control" [(ngModel)]="modifiedAccount.accountStatus">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                                <option value="Canceled">Canceled</option>
                            </select>
                            <label for="">Exempt of 0.4% &nbsp;</label>
                            <br>
                            <select name="exemptOfGmf" id="exemptOfGmf" class="form-control" [(ngModel)]="modifiedAccount.exemptOfGmf">
                                <option [ngValue]=true>Exempt</option>
                                <option [ngValue]=false>Non-Exempt</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <button class="btn btn-primary" (click)="SaveEditAccount(modifiedAccount)" style="margin-left: 10px;">Save</button>
                        <button class="btn btn-secondary" style="margin-left: 10px;">Cancel</button>
                        <br>
                    </div>
                    <br>
                    {{modifiedAccount | json}}
                </div>
            </form>
            <br>
            
        </div>
    </span>
</div>


<div class="container">
    <span *ngIf="cardForNewAccount">
        <!--CARD CON EL FORMULARIO CREACION CUENTA-->
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">REGISTRAR NUEVA CUENTA</h3>
            </div>
            <div class="card-body">
                <form action="" class="column">
                    <div class="column">
                        <div class="form-group">
                            <label for="">ID Cliente</label>
                            <input type="text" disabled="true" name="idClient" class="form-control" [(ngModel)]="newAccount.customerId">
                        </div>
                        <div class="form-group" style="margin-top: 5px;">
                            <label for="">Tipo de Cuenta</label><br>
                            <select name="accountType" id="accountType" class="form-group" [(ngModel)]="newAccount.accountType">
                                <option value="Ah">AHORROS</option>
                                <option value="Co">CORRIENTE</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="SaveNewAccount(newAccount)" style="margin-top: 10px;">Guardar</button>
                </form>
            </div>
            
        </div>
    </span>
</div>

<br>


