<app-menu></app-menu>

<div class="text-center" *ngIf="!(isLogged && isAdmin); else loggedAndAdmin">
    <div class="alert alert-danger mt-3">
        <h4>UNLOGGED - BAD AUTHORITIES</h4>
        <a routerLink="/login">Go to Login</a>
    </div>
    
</div>

<ng-template #loggedAndAdmin>
    
    <div class="container d-flex justify-content-center">
        <div class="card" style="width: 24rem;">
            <div class="card-header">
                <h4 style="text-align: center;">REGISTER</h4>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
                    <div class="form-group">
                        <label for="username">USER NAME</label>
                        <input type="text" name="username" id="username" placeholder="username" class="form-control" [(ngModel)]="username" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">PASSWORD</label>
                        <input type="password" name="password" id="password" placeholder="password" class="form-control" [(ngModel)]="password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="name">FIRST NAMES</label>
                        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="surname">LAST NAMES</label>
                        <input type="text" name="surname" id="surname" class="form-control" [(ngModel)]="surname" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">EMAIL</label>
                        <input type="email" name="email" id="emial" placeholder="email@email.com" class="form-control" [(ngModel)]="email" required>
                    </div>
                    <br>
                    <button class="btn btn-primary btn-block" [disabled]="!f.valid">Register</button> 
                    <div *ngIf="f.submitted" class="alert alert-danger mt-3">Fail!</div>
                </form>

            </div>
        </div>
    </div>
</ng-template>

<!--
<ng-template #login>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4 style="text-align: center;">LOGIN</h4>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-group">
                    <label for="username">USER NAME</label>
                    <input type="text" name="username" id="username" placeholder="username" class="form-control" [(ngModel)]="username" required>
                    </div>
                    <br>
                    <div class="form-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" id="password" placeholder="password" class="form-control" [(ngModel)]="password" required>
                    </div>
                    <br>
                    <div class="form-group">
                    <button class="btn btn-primary btn-block" [disabled]="!f.valid">Login</button> 
                    </div>
                    <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Login fail</div>
                </form>

            </div>
        </div>
    </div>
</ng-template>
-->